html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #111;
}

@font-face {
    font-family: 'Text';
    src: url('../fonts/Kenney Rocket Square.woff2') format('woff2');
}

@font-face {
    font-family: 'Counter';
    src: url('../fonts/Segment14.woff2') format('woff2');
}
